.header-warp {
  width: 100%;
  height: 40px;
  background-color: #333;
}
.header-warp .header {
  width: 1140px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-warp .header .my-header-list {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-warp .header .my-header-list a {
  display: block;
  float: left;
  width: 48px;
  height: 40px;
  cursor: pointer;
  color: #b0b0b0;
  font-size: 12px;
}
.header-warp .header .my-header-list span {
  float: left;
  margin: 0.5em;
  line-height: 40px;
  height: 40px;
  color: #424242;
}
.header-warp .header .my-header-login {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.header-warp .header .my-header-login > .topbar-top > li {
  color: white;
}
.header-warp .header .my-header-login > .topbar-top > li > span {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.header-warp .header .my-header-login > .topbar-top > li > i {
  display: inline-block;
  margin-left: 10px;
}
.header-warp .header .my-header-login > .topbar-top > li a {
  color: white !important;
}
.header-warp .header .my-header-login > div {
  float: left;
}
.header-warp .header .my-header-login > div > a {
  color: #b0b0b0;
  font-size: 12px;
  float: left;
  margin: 0 8px;
}
.header-warp .header .my-header-login > div span {
  float: left;
}
.header-warp .header .my-header-login > a {
  float: left;
  display: block;
  width: 115px;
  height: 40px;
  line-height: 40px;
  color: #b0b0b0;
  font-size: 12px;
  margin-left: 15px;
  padding: 0 19px;
}
.header-warp .header .my-header-login > a img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}
.nav-warp {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.nav-warp .nav-list-warp {
  width: 1140px;
  height: 50px;
  margin: 0 auto;
}
.nav-warp .nav-list-warp .nav {
  width: 1140px;
  height: 50px;
  position: relative;
  background-color: #f4f4f4;
}
.nav-warp .nav-list-warp .nav .my-nav-img {
  float: left;
  height: 50px;
  width: 161px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  box-sizing: border-box;
}
.nav-warp .nav-list-warp .nav .my-nav-img > a {
  display: block;
  height: 50px;
}
.nav-warp .nav-list-warp .nav .my-nav-img > a > img {
  width: 112px;
  height: 28px;
  vertical-align: middle;
}
.nav-warp .nav-list-warp .nav .my-nav-img > a > span {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.nav-warp .nav-list-warp .nav .my-nav-list {
  float: left;
}
.nav-warp .nav-list-warp .nav .my-nav-list .my-nav-li {
  width: 72px;
  height: 50px;
  float: left;
  text-align: center;
}
.nav-warp .nav-list-warp .nav .my-nav-list .my-nav-li > a {
  font-size: 14px;
  line-height: 50px;
  color: #767676;
  display: inline-block;
}
.nav-warp .nav-list-warp .nav .my-nav-list .my-nav-li .my-nav-onshow {
  display: none;
  position: absolute;
  left: 0;
  width: 1140px;
  height: 290px;
  padding-top: 20px;
  background-color: white;
}
.nav-warp .nav-list-warp .nav .my-nav-list .my-nav-li .my-nav-onshow .container-fluid {
  width: 100%;
  height: 100%;
}
.nav-warp .nav-list-warp .nav .my-nav-list .my-nav-li .my-nav-onshow .container-fluid .row {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.nav-warp .nav-list-warp .nav .my-nav-list .my-nav-li .my-nav-onshow .container-fluid .row div a img {
  width: 100%;
}
.nav-warp .nav-list-warp .nav .my-nav-list .my-nav-li .my-nav-onshow .container-fluid .row h4 {
  font-size: 16px;
  line-height: 30px;
  color: #222;
}
.nav-warp .nav-list-warp .nav .my-nav-list .my-nav-li .my-nav-onshow .container-fluid .row div {
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: #989898;
}
.nav-warp .nav-list-warp .nav .my-nav-list .my-nav-li .my-nav-onshow .container-fluid .row p {
  font-size: 14px;
  text-align: center;
  color: #ed1c24;
  line-height: 30px;
}
.nav-warp .nav-list-warp .nav .my-nav-list :hover {
  background-color: white;
}
.nav-warp .nav-list-warp .nav .my-nav-list :hover .my-nav-onshow {
  display: block;
}
.banner-warp {
  width: 100%;
  height: 500px;
  position: relative;
}
.banner-warp .banner-img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.banner-warp .banner-img .slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-warp .banner-img .slider > div {
  width: 100000px;
  position: absolute;
}
.banner-warp .banner-img .slider > div > img {
  width: 1349px;
  height: 500px;
  float: left;
}
.banner-warp .banner-img .slider > span {
  position: absolute;
  top: 45%;
  font-size: 3em;
  user-select: none;
  cursor: pointer;
  transition: 1s;
}
.banner-warp .banner-img .slider > span:last-of-type {
  right: 0;
}
.banner-warp .banner-img .slider li {
  height: 4px;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.banner-warp .banner-img .slider li b {
  display: inline-block;
  width: 45px;
  height: 4px;
  background-color: white;
  margin: 1px;
}
.banner-warp .banner-img .slider li .cy {
  background-color: #ED1c24;
}
.banner-warp .banner-content {
  position: relative;
  width: 1140px;
  height: 500px;
  margin: 0 auto;
}
.banner-warp .banner-content .banner-container {
  position: absolute;
  width: 1140px;
  height: 500px;
  position: relative;
}
.banner-warp .banner-content .banner-container .site-category-list {
  width: 234px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.banner-warp .banner-content .banner-container .site-category-list .category-item {
  width: 234px;
}
.banner-warp .banner-content .banner-container .site-category-list .category-item > a {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  width: 234px;
  padding-left: 30px;
  color: white;
}
.banner-warp .banner-content .banner-container .site-category-list .category-item > a span {
  float: right;
  margin-right: 30px;
}
.banner-warp .banner-content .banner-container .site-category-list .category-item .children-warpper {
  position: absolute;
  top: 0;
  left: 234px;
  height: 500px;
  width: 234px;
  background-color: white;
  display: none;
}
.banner-warp .banner-content .banner-container .site-category-list .category-item .children-warpper .children-list li {
  height: 76px;
}
.banner-warp .banner-content .banner-container .site-category-list .category-item .children-warpper .children-list li a {
  display: flex;
  padding: 18px 20px;
  line-height: 40px;
  color: #333;
  box-sizing: border-box;
  flex-direction: row;
}
.banner-warp .banner-content .banner-container .site-category-list .category-item .children-warpper .children-list li a img {
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}
.banner-warp .banner-content .banner-container .site-category-list .category-item .children-warpper .children-list li a span {
  box-sizing: border-box;
  font-size: 13px;
  line-height: 40px;
}
.banner-warp .banner-content .banner-container .site-category-list .category-item .children-warpper .children-list :hover {
  background-color: white;
  color: red;
}
.banner-warp .banner-content .banner-container .site-category-list :hover .children-warpper {
  display: block;
}
.banner-warp .banner-content .banner-container .site-category-list :hover > a {
  background-color: red;
}
.star-product-warp {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
}
.star-product-warp .product-home {
  width: 1140px;
  height: 180px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
}
.star-product-warp .product-home .col-md-3 {
  margin-left: -15px;
}
.star-product-warp .product-home .col-md-3:nth-child(2) {
  margin-left: -20px;
  margin-right: 20px;
}
.star-product-warp .product-home .col-md-3:nth-child(3) {
  margin-right: 20px;
}
.star-product-warp .product-home .home-six {
  width: 100%;
  height: 100%;
}
.star-product-warp .product-home .home-six .row {
  width: 270px;
  height: 180px;
}
.star-product-warp .product-home .home-six .row .col-md-4 {
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  padding: 0;
}
.star-product-warp .product-home .home-six .row .col-md-4 a {
  box-sizing: border-box;
  display: inline-block;
  width: 90px;
  height: 90px;
  padding-top: 20px;
  text-align: center;
}
.star-product-warp .product-home .home-six .row .col-md-4 a img {
  width: 27px;
  height: 27px;
}
.star-product-warp .product-home .home-six .row .col-md-4 a span {
  display: inline-block;
  width: 90px;
  height: 27px;
  font-size: 14px;
  color: white;
}
.star-product-warp .product-home .home-six .row .col-md-4 :hover {
  background-color: red;
}
.star-product-warp .product-home .home-six .row .red1 {
  background: #f2555b;
}
.star-product-warp .product-home .home-six .row .red2 {
  background-color: #f68387;
}
.star-product-warp .star-product {
  height: 390px;
  width: 1140px;
  padding-left: 0;
  padding-right: 0px;
  margin: 30px auto 0;
  margin-left: -15px;
}
.star-product-warp .star-product .star-top h3 {
  height: 50px;
}
.star-product-warp .star-product .star-top h3 img {
  display: inline-block;
  width: 38px;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
}
.star-product-warp .star-product .star-top h3 a {
  display: inline-block;
  font-size: 22px;
  line-height: 50px;
  color: #767676;
}
.star-product-warp .star-product .star-bot {
  width: 1140px;
  height: 340px;
  overflow: hidden;
}
.star-product-warp .star-product .star-bot > .myrow {
  width: 1140px;
  height: 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.star-product-warp .star-product .star-bot > .myrow .mydiv {
  width: 270px;
  height: 340px;
  padding: 25px 10px 10px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
  text-align: center;
}
.star-product-warp .star-product .star-bot > .myrow .mydiv a {
  display: block;
  text-align: center;
}
.star-product-warp .star-product .star-bot > .myrow .mydiv a img {
  height: 190px;
  width: 190px;
}
.star-product-warp .star-product .star-bot > .myrow .mydiv h4 {
  font-size: 16px;
  line-height: 30px;
  color: #222;
}
.star-product-warp .star-product .star-bot > .myrow .mydiv div {
  font-size: 14px;
  line-height: 30px;
  color: #989898;
}
.star-product-warp .star-product .star-bot > .myrow .mydiv p {
  color: #ed1c24;
  line-height: 30px;
  font-size: 14px;
}
.star-product-warp .star-product .star-bot > .myrow .mydiv p .del {
  text-decoration: line-through;
  font-size: 14px;
  color: #b0b0b0;
}
.main-warp {
  width: 100%;
  background-color: #f7f7f7;
}
.main-warp .main-content {
  width: 1140px;
  min-height: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.main-warp .main-content .main-television {
  width: 1140px;
  min-height: 810px;
  position: relative;
  margin-top: 50px;
  box-sizing: border-box;
}
.main-warp .main-content .main-television .tlvs-top {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-warp .main-content .main-television .tlvs-top .tlvs-title h3 {
  height: 50px;
}
.main-warp .main-content .main-television .tlvs-top .tlvs-title h3 img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.main-warp .main-content .main-television .tlvs-top .tlvs-title h3 a {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  color: #767676;
}
.main-warp .main-content .main-television .tlvs-top .tlvs-title h3 i {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.main-warp .main-content .main-television .tlvs-top .tlvs-top-list ul li {
  float: left;
}
.main-warp .main-content .main-television .tlvs-top .tlvs-top-list ul li a {
  color: #000;
  margin-right: 4px;
  font-size: 14px;
}
.main-warp .main-content .main-television .tlvs-banner {
  height: 370px;
  width: 100%;
  background-color: springgreen;
}
.main-warp .main-content .main-television .tlvs-banner a {
  width: 100%;
  height: 100%;
  display: block;
}
.main-warp .main-content .main-television .tlvs-banner a img {
  width: 100%;
  height: 100%;
}
.main-warp .main-content .main-television .tlvs-main {
  min-height: 360;
  width: 100%;
}
.main-warp .main-content .main-television .tlvs-main .tlvs-box {
  width: 1140px;
  height: 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.main-warp .main-content .main-television .tlvs-main .tlvs-box .mydiv {
  width: 270px;
  height: 340px;
  margin-top: 20px;
  padding: 25px 10px 10px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
  transition: 0.5s;
}
.main-warp .main-content .main-television .tlvs-main .tlvs-box .mydiv a {
  display: block;
  text-align: center;
}
.main-warp .main-content .main-television .tlvs-main .tlvs-box .mydiv a img {
  height: 190px;
  width: 190px;
}
.main-warp .main-content .main-television .tlvs-main .tlvs-box .mydiv h4 {
  font-size: 16px;
  line-height: 30px;
  color: #222;
}
.main-warp .main-content .main-television .tlvs-main .tlvs-box .mydiv div {
  font-size: 14px;
  line-height: 30px;
  color: #989898;
}
.main-warp .main-content .main-television .tlvs-main .tlvs-box .mydiv p {
  color: #ed1c24;
  line-height: 30px;
  font-size: 14px;
}
.main-warp .main-content .main-television .tlvs-main .tlvs-box .mydiv p .del {
  text-decoration: line-through;
  font-size: 14px;
  color: #b0b0b0;
}
.main-warp .main-content .main-television .tlvs-main .mydiv:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.main-warp .main-content .main-television .clear_fix {
  display: block;
  clear: both;
  height: 0px;
  overflow: hidden;
}
.konka-warp {
  width: 100%;
  height: 801.03px;
  background-color: #f7f7f7;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0 50px;
}
.konka-warp .konka-news {
  width: 100%;
  height: 360.52px;
  margin-top: 30px;
  box-sizing: border-box;
}
.konka-warp .konka-news .news-container {
  width: 1140px;
  height: 360.52px;
  margin: 0 auto;
}
.konka-warp .konka-news .news-container .cate-top {
  overflow: hidden;
}
.konka-warp .konka-news .news-container .cate-top h3 {
  width: 1140px;
  height: 30.52px;
  box-sizing: border-box;
  margin: 20px 0 10px;
  display: flex;
  flex-direction: row;
}
.konka-warp .konka-news .news-container .cate-top h3 a {
  font-size: 24px;
  color: #767676;
}
.konka-warp .konka-news .news-container .cate-top h3 img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.konka-warp .konka-news .news-container .cate-bott {
  width: 1140px;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.konka-warp .konka-news .news-container .cate-bott .cate-list {
  width: 270px;
  height: 300px;
  box-sizing: border-box;
  background-color: white;
}
.konka-warp .konka-news .news-container .cate-bott .cate-list a {
  width: 270px;
  height: 298px;
  display: block;
}
.konka-warp .konka-news .news-container .cate-bott .cate-list a img {
  width: 270px;
  height: 180px;
}
.konka-warp .konka-news .news-container .cate-bott .cate-list a h4 {
  width: 270px;
  height: 40px;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 0 10px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
}
.konka-warp .konka-news .news-container .cate-bott .cate-list a p {
  width: 270px;
  height: 38px;
  box-sizing: border-box;
  margin: 0 0 10px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 20px;
  color: #b0b0b0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.konka-warp .konka-news .news-container .cate-bott .cate-list a span {
  padding: 0 10px;
  color: #4b98ec;
  font-size: 12px;
  display: block;
  box-sizing: border-box;
}
.footer-link-warp {
  width: 100%;
  height: 535px;
}
.footer-link-warp .footer-link {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
}
.footer-link-warp .footer-link .footer-link-top {
  box-sizing: border-box;
  width: 1140px;
  height: 114px;
  padding: 40px 0 20px 0;
}
.footer-link-warp .footer-link .footer-link-top .serve-list {
  width: 1100px;
  height: 54px;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-link-warp .footer-link .footer-link-top .serve-list li {
  width: 220px;
  height: 100%;
  padding-left: 35px;
  box-sizing: border-box;
}
.footer-link-warp .footer-link .footer-link-top .serve-list li .footer-link-box1 {
  float: left;
  width: 29px;
  height: 33px;
  margin: 12px 12px 0 0;
}
.footer-link-warp .footer-link .footer-link-top .serve-list li .footer-link-box1 img {
  width: 29px;
  height: 29px;
}
.footer-link-warp .footer-link .footer-link-top .serve-list li .footer-link-box2 {
  float: left;
  display: flex;
  flex-direction: column;
}
.footer-link-warp .footer-link .footer-link-top .serve-list li .footer-link-box2 h4 {
  box-sizing: border-box;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #b2b2b2;
}
.footer-link-warp .footer-link .footer-link-top .serve-list li .footer-link-box2 small {
  color: #b2b2b2;
  font-size: 11.9px;
  line-height: 12px;
}
.footer-link-warp .footer-link .footer-link-main {
  box-sizing: border-box;
  width: 1140px;
  height: 421px;
  padding: 50px 0;
  border-top: 1px solid #eaeaea;
}
.footer-link-warp .footer-link .footer-link-main dl {
  float: left;
  width: 140px;
  margin-bottom: 20px;
}
.footer-link-warp .footer-link .footer-link-main dl dt {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  line-height: 35px;
}
.footer-link-warp .footer-link .footer-link-main dl dd {
  line-height: 35px;
  font-size: 12px;
}
.footer-link-warp .footer-link .footer-link-main dl dd a {
  color: #767676;
  line-height: 35px;
  font-size: 12px;
}
.footer-link-warp .footer-link .footer-link-main dl dd :hover {
  color: #f2555b;
}
.footer-link-warp .footer-link .footer-link-main .link-phone {
  float: right;
  width: 250px;
  height: 125px;
  border-left: 1px solid #eaeaea;
  box-sizing: border-box;
  text-align: center;
}
.footer-link-warp .footer-link .footer-link-main .link-phone .hotline {
  font-size: 14px;
  color: #6f6c71;
  font-weight: 600;
  margin: 0 0 10px;
}
.footer-link-warp .footer-link .footer-link-main .link-phone .tele {
  color: #ff5d59;
  font-size: 26px;
  margin-bottom: 15px;
  margin: 0 0 10px;
}
.footer-link-warp .footer-link .footer-link-main .link-phone a {
  color: #ff5d59;
}
.footer-com {
  width: 100%;
  height: 100px;
  background-color: #313131;
  box-sizing: border-box;
  padding: 0 100px;
}
.footer-com .for-logo {
  float: left;
  width: 115px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-com .for-logo img {
  width: 100%;
  height: 25px;
}
.footer-com .for-link {
  float: right;
  color: #666;
  font-size: 12px;
  line-height: 100px;
}
.footer-com .for-link p {
  display: inline;
}
.footer-com .for-link a {
  color: #666;
}
.footer-bottom {
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-bottom a {
  box-sizing: border-box;
}
.footer-bottom a img {
  box-sizing: border-box;
}
.anchor {
  width: 80px;
  height: 415px;
  box-sizing: border-box;
  position: fixed;
  top: 100px;
}
.anchor .anchor-container {
  width: 80px;
  height: 415px;
  box-sizing: border-box;
}
.anchor .anchor-container ul {
  box-sizing: border-box;
  width: 80;
  height: 405;
  margin-bottom: 10px;
  padding-inline-start: 40px;
}
.anchor .anchor-container ul li {
  width: 40px;
  height: 45px;
  background: #888;
  text-align: center;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  line-height: 17px;
  transition: 0.5s;
}
.anchor .anchor-container ul li a {
  display: flex;
  box-sizing: border-box;
  width: 40px;
  height: 45px;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.anchor .anchor-container ul li a span {
  color: #fff;
  font-size: 12px;
}
.anchor .anchor-container ul li:hover {
  background-color: #ff5d59;
}
.back-top {
  width: 82px;
  height: 165px;
  position: fixed;
  right: 0;
  top: 100px;
}
.back-top ul {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}
.back-top ul li {
  width: 42px;
  height: 42px;
  background-color: white;
  border: 1px solid #bcbcbc;
}
.back-top ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.back-top ul li a i {
  display: block;
  margin-top: 10px;
  font-size: 20px;
}
